<h1>Blogs</h1>
{{#each data}}
  <div class="clearfix py-3">
    <h3>{{name}}</h3>
    <p class="text-black-50">
      by
      {{author}}
      in
      <a
        href="#"
        onclick="loadBlogs('blogs/categories/{{category.id}}')"
      >{{category.name}}</a>
      on
      {{formatDate date}}.
      <a href="#" onclick="loadBlogDetails({{id}}, true)">Comments ({{comments.length}})</a>
    </p>
    <img
      src="{{thumbpath}}"
      alt="{{name}}"
      class="float-start me-3 border rounded-4"
    />
    <p class="text-black-50">
      {{summary}}
    </p>
    <a
      href="#"
      class="btn btn-link readmore ps-0"
      onclick="loadBlogDetails({{id}})"
    >Read more</a>
  </div>
{{/each}}